<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{addGoods.page.title}"></title>
    <link href="../../static/css/admin/common.css" type="text/css" rel="stylesheet">
</head>
<body>
    <form:form action="adminGoods/addGoods" method="post" modelAttribute="goods" enctype="multipart/form-data">
        <table border=1 style="border-collapse: collapse">
            <caption>
                <font size=4 face=华文新魏 th:text="#{addGoods.page.addProduct}"></font>
            </caption>
            <tr>
                <td><span th:text="#{addGoods.page.name}"></span><font color="red" th:text="#{page.star}"></font></td>
                <td>
                    <form:input path="gname"/>
                </td>
            </tr>
            <tr>
                <td><span th:text="#{addGoods.page.price}"></span><font color="red" th:text="page.star"></font></td>
                <td>
                    <form:input path="goprice"/>
                </td>
            </tr>
            <tr>
                <td thLtext="#{addGoods.page.discount}"></td>
                <td>
                    <form:input path="grprice"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{addGoods.page.stock}"></td>
                <td>
                    <form:input path="gstore"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{addGoods.page.picture}"></td>
                <td>
                    <input type="file" name="logoImage"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{addGoods.page.type}"></td>
                <td>
                    <form:select path="goodstype_id">
                        <form:options items="${goodsType}" itemLabel="typename" itemValue="id"/>
                    </form:select>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" value="提交"/>
                </td>
                <td align="left">
                    <input type="reset" value="重置"/>
                </td>
            </tr>
        </table>
    </form:form>
</body>
</html>