<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.addGoods.title}"></title>
    <link href="../../static/css/admin/common.css" type="text/css" rel="stylesheet">
</head>
<body>
    <form action="adminGoods/addGoods" method="post" modelAttribute="goods" enctype="multipart/form-data">
        <table border=1 style="border-collapse: collapse">
            <caption>
                <font size=4 face=华文新魏 th:text="#{admin.addGoods.addProduct}"></font>
            </caption>
            <tr>
                <td><span th:text="#{admin.addGoods.name}"></span><font color="red" th:text="#{page.star}"></font></td>
                <td>
                    <input path="gname"/>
                </td>
            </tr>
            <tr>
                <td><span th:text="#{admin.addGoods.price}"></span><font color="red" th:text="#{page.star}"></font></td>
                <td>
                    <input path="goprice"/>
                </td>
            </tr>
            <tr>
                <td thLtext="#{admin.addGoods.discount}"></td>
                <td>
                    <input path="grprice"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{admin.addGoods.stock}"></td>
                <td>
                    <input path="gstore"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{admin.addGoods.picture}"></td>
                <td>
                    <input type="file" name="logoImage"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{admin.addGoods.type}"></td>
                <td>
                    <select path="goodstype_id">
                        <div th:each=""></div>
                        <options items="${goodsType}" itemLabel="typename" itemValue="id"/>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" th:value="#{page.submit}"/>
                </td>
                <td align="left">
                    <input type="reset" th:value="#{page.reset}"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>