<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.addType.title}"></title>
    <link th:href="@{/css/admin/common.css}" type="text/css" rel="stylesheet">
    <style type="text/css">
        table{
            text-align: center;
            border-collapse: collapse;
        }
        .bgcolor{
            background-color: #F08080;
        }
    </style>
</head>
<body>
    <div th:if="${allTypes.size() == 0}">
        <span th:text="#{page.noType}"></span>
    </div>
    <div th:if="${allTypes.size() != 0}">
        <table border="1" bordercolor="PaleGreen" >
            <tr>
                <th width="200px" th:text="#{page.typeId}"></th>
                <th width="600px" th:text="#{page.typeName}"></th>
            </tr>
            <div th:each="goodsType:${allTypes}">
                <tr>
                    <td th:text="${goodsType.id}"></td>
                    <td th:text="${goodsType.typename}"></td>
                </tr>
            </div>
        </table>
    </div>
    <form th:action="@{/adminType/addType}" method="post">
        <span th:text="#{admin.addType.typeName1}"></span>
        <input type="text" name="typename"/>
        <input type="submit" th:value="#{admin.addType.add}"/>
    </form>
</body>
</html>