<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/XSL/Transform">
<html>
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.page.title}"></title>
</head>
<body>
    <h1 th:text="#{login.page.login}"></h1>
    <form th:action="@{/admin/login}" method="post">
        <input type="text" id="aname" name="aname">
        <br/>
        <input type="password" id="apwd" name="apwd" minlength="2" maxlength="20">
        <input type="submit" text="登录">
    </form>
</body>
</html>