<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{admin.orderManager.title}"></title>
    <link href="../../static/css/admin/common.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        table{
            text-align: center;
            border-collapse: collapse
        }
        .bgcolor{
            background-color: #F08080;
        }
    </style>
    <script type="text/javascript">
        function changeColor(obj){
            obj.className="bgcolor";
        }
        function changeColor1(obj){
            obj.className="";
        }
        function checkDel(id){
            if(window.confirm("是否删除该订单？")){
                window.location.href="/ch20/adminOrder/deleteorderManager?id="+id;
            }
        }
    </script>
</head>
<body>
    <br>
    <table border="1" bordercolor="PaleGreen">
        <tr>
            <th width="150px" th:text="#{admin.orderManager.number}"></th>
            <th width="150px" th:text="#{admin.orderManager.email}"></th>
            <th width="100px" th:text="#{admin.orderManager.price}"></th>
            <th width="100px" th:text="#{admin.orderManager.state}"></th>
            <th width="150px" th:text="#{admin.orderManager.data}"></th>
            <th width="100px" th:text="#{admin.orderManager.operate}"></th>
        </tr>
        <div th:each="n:${orderList}">
            <tr onmousemove="changeColor(this)" onmouseout="changeColor1(this)">
                <td th:text="${n.id}"></td>
                <td th:text="${n.bemail}"></td>
                <td th:text="${n.amount}"></td>
                <td>
                    <div th:if="${n.status == 0}">
                        <span th:text="#{admin.orderManager.unPay}"></span>
                    </div>
                    <div th:if="${n.status == 1}">
                        <span th:text="#{admin.orderManager.pay}"></span>
                    </div>
                </td>
                <td th:text="${n.orderdate}"></td>
                <td>
                    <div th:if="${n.status == 0}">
                        <a href="javaScript:checkDel('${n.id}')"><span th:text="#{page.delete}"></span></a>
                    </div>
                </td>
            </tr>
        </div>
    </table>
</body>
</html>