<html xmlns:th="http://www.w3.org/1999/xhtml">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
	<title>商品详情</title>
	<link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function goCart() {
			document.putcartform.submit();
		}
		function gofocus(gno) {
			window.location.href = "/focus?id=" + gno;
		}
	</script>
</head>
<body>
	<form th:action="@{cart/putCart}" name="putcartform" method="post">
		<div class="blank"></div>
		<div class="block clearfix">
			<div class="location ared" th:text="#{before.goodsdetail.location}">
				<a th:href="@{/#}"><span th:text="#{before.goodsdetail.shouye}"></span></a>
				<a th:href="@{/#}"><span th:text="#{before.goodsdetail.deteils}"></span></a>
			</div>
			<div class="blank"></div>
			<div id="goodsInfo">
				<div class="imgInfo">
					<input type="hidden" name="id" th:value="${goods.id}" />
					<img th:src="@{'/images/product/' + ${goods.gpicture}}" width="230px" height="230px" />
				</div>
			</div>
			<!--商品表述-->
			<div class="goods_desc">
				<div class="bt">
					<span th:text="${goods.gname}"></span>
				</div>
				<div class="goods_show">
					<ul>
						<li>
							<span th:text="#{before.goodsdetail.price}"></span>
							<strong class="yj"><span th:text="${goods.goprice}"></span><span th:text="#{before.index.money}"></span></strong>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.discount}"></span>
							<strong class="xj"><span th:text="${goods.grprice}"></span><span th:text="#{before.index.money}"></span></strong>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.categoly}"></span> <span th:text="${goods.typename}"></span>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.num}"></span>
							<input type="text" name="shoppingnum" class="good_txt" th:value="1" />
							<p th:text="#{before.goodsdetail.inventory}"></p>
							<span th:text="${goods.gstore}"></span>
							<span th:text="#{before.goodsdetail.piece}"></span>
						</li>
					</ul>
				</div>
				<p class="bottom10 top5">
					<img th:src="@{images/before/goods_ann2.gif}" style="cursor: pointer" onclick="javaScript:goCart()" />
					<input type="button" style="cursor: pointer" class="sh_bnt2" th:onclick="'javaScript:gofocus('+${goods.id}+')'" th:value="关注" />
				</p>
				<span th:text="${msg}"></span>
			</div>
			<!--end-->
			</div>  
	</form>
</body>
</html>
