<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title th:text="#{before.goodsdetail.title}"></title>
	<link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function goCart() {
			document.putcartform.submit();
		}
		function gofocus(gno) {
			window.location.href = "/cart/focus?id=" + gno;
		}
	</script>
</head>
<body>
	<div th:include="before/head::head"></div>
	<form th:action="@{/cart/putCart}" name="putcartform" method="post">
		<div class="blank"></div>
		<div class="block clearfix">
			<div class="location ared">
				<span th:text="#{before.goodsdetail.location}"></span>
				<a th:href="@{/before}"><span th:text="#{before.goodsdetail.shouye}"></span></a>
				<span th:text="#{before.goodsdetail.sign}"></span>
				<a href="#"><span th:text="#{before.goodsdetail.deteils}"></span></a>
			</div>
			<div class="blank"></div>
			<div id="goodsInfo">
				<div class="imgInfo">
					<input type="hidden" name="id" th:value="${goods.id}" />
					<img th:src="@{'/images/product/' + ${goods.gpicture}}" width="230px" height="230px" />
				</div>
			</div>
			<!--商品表述-->
			<div class="goods_desc">
				<div class="bt">
					<span th:text="${goods.gname}"></span>
				</div>
				<div class="goods_show">
					<ul>
						<li>
							<span th:text="#{before.goodsdetail.price}"></span>
							<strong class="yj" th:text="${goods.goprice} + #{before.index.money}"></strong>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.discount}"></span>
							<strong class="xj" th:text="${goods.grprice} + #{before.index.money}"></strong>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.categoly}"></span>
							<p th:text="${goods.typename}"></p>
						</li>
						<li>
							<span th:text="#{before.goodsdetail.num}"></span>
							<span>
								<input type="text" name="shoppingnum" class="good_txt" th:value="1" />
							</span>
							<div th:text="#{before.goodsdetail.inventory} + ${goods.gstore} + #{before.goodsdetail.piece}"></div>
						</li>
					</ul>
				</div>
				<p class="bottom10 top5">
					<img th:src="@{/images/before/goods_ann2.gif}" style="cursor: pointer" th:onclick="javaScript:goCart()" />
					<input type="button" style="cursor: pointer" class="sh_bnt2" th:onclick="'javaScript:gofocus('+${goods.id}+')'" th:value="关注" />
				</p>
				<span th:text="${msg}"></span>
			</div>
			<!--end-->
		</div>
	</form>
</body>
</html>
