<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>首页</title>
	<link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		function clearValue(){
			document.myForm.mykey.value = "";
		}
	</script>
</head>
<body>
	<div class="all_zong" th:fragment="head">
		<!--最上面 灰色条部分--本地cc修改>
		<div class="all_zong_top">
			<div class="all_zong_top_right a8c">
				<table border="0" cellspacing="0" cellpadding="0" class="main_login">
					<tr>
						<td>

							<p id="content" th:if="${bruser}">
								欢迎 <span th:text="${bruser.bemail}"></span>
							</p>
							<p th:if="!${bruser}">
								<a th:href="@{/toLogin}">登录</a>
							</p>




						</td>
						<td>
							<p>
								<a th:href="@{/toRegister}" th:text="#{before.head.register}"></a>
							</p>
						</td>
						<td><span class="xx">|</span>
							<a th:href="@{/userCenter}" th:text="#{before.head.userscenter}"></a><span
							class="xx">|</span></td>
						<!-- 没有登录 -->
						<th:if test="${bruser!= null}">
						<td><a th:href="@{/user/exit}" th:text="#{before.head.exit}"></a><span
							class="xx">|</span></td>
						</th:if>
					</tr>
				</table>
			</div>
		</div>
		<!--end-->
		<!--logo 搜索-->
		<div class="all_zong_logo">
			<div class="all_zong_logo2">
				<img src="/images/before/mylogo.png" />
			</div>
			<div class="back_search">
				<div class="back_search_red">
					<form th:action="@{search}" name="myForm" method="post">
						<div class="div2">
							<input type="text" name="mykey" class="txt" th:placeholder="请输入您要查询的内容"  onfocus="clearValue()" />
						</div>
						<div class="div1">
							<input type="submit" class="an"  th:placeholder="搜索" />
						</div>
					</form>
				</div>
			</div>
			<!--end-->
		</div>
		<!--红色 导航-->
		<div class="skin_a">
			<div class="front_daohangbj">
				<div class="all_zong">
					<div class="front_daohang">
						<ul>
							<li class="backbj"><a th:href="@{/before?id=0}">首页</a></li>
							<!-- 显示商品类型 -->

								<li th:each=" g : ${goodsType}"><a th:href="@{/before?id=${g.id }}">
								${g.typename }</a>
								</li>

							<li class="buy">
								<p class="car">
									<a th:href="@{/cart/selectCart}">购物车</a>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--红色 导航 end-->
	</div>
</body>
</html>
