<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>登录页面</title>
    <link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
    <style type="text/css">
        table{
            text-align: center;
        }
        .textSize{
            width: 200px;
            height: 20px;
        }
    </style>
    <script type="text/javascript">
        //确定按钮
        function gogo(){
            document.loginform.submit();
        }
        //取消按钮
        function cancel(){
            document.loginform.action="";
        }
        function refreshCode(){
            document.getElementById("code").src = "validateCode?" + Math.random();
        }
    </script>

    <script type="text/javascript">
        function clearValue(){
            document.myForm.mykey.value = "";
        }
    </script>

</head>
<body>
<div th:include="before/head::head"></div>

<center>
    <form th:action="@{/user/login}" method="post" modelAttribute="buser"  name = "loginform">
        <table>
            <tr>
                <td colspan="2"><img src="/images/admin/login.gif"></td>
            </tr>
            <tr>
                <td th:text="#{before.login.email}"></td>
                <td><input type="text" name="bemail"  th:placeholder="#{buser.bemail}"  class="textSize"/></td>
            </tr>
            <tr>
                <td th:text="#{before.login.pwd}"></td>
                <td><input type="password" name="bpwd" class="textSize"/></td>
            </tr>
            <tr>
                <td th:text="#{before.login.checkPwd}"></td>
                <td><input type="text" name="code" class="textSize"/></td>
            </tr>
            <tr>
                <td>
                    <img id="code" src="/validateCode"/>
                </td>
                <td class="ared">
                    <a href="javascript:refreshCode();"><font color="blue"><span th:text="#{before.login.nosee}">
                    </span></font></a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="image" src="/images/admin/ok.gif" onclick="gogo()">
                    <input type="image" src="/images/admin/cancel.gif" onclick="cancel()">
                </td>
            </tr>
        </table>
    </form >
    <div th:text="${msg}"></div>

</center>
</body>
</html>
