<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>支付完成完成</title>
    <link th:href="@{/css/before/daohang.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/before/style.css}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        function clearValue(){
            document.myForm.mykey.value = "";
        }
    </script>
</head>
<body>
  <div th:include="before/head::head"></div>
  <div class="blank"></div>
  <div class="block clearfix"><!--当前位置-->
      <div class="location ared" th:text="#{before.paydone.locationared}">
          <a th:href="@{/''}">
          <span th:text="#{before.paydone.homePage}"></span></a>
          <span th:text="#{before.paydone.msg}"></span>
      </div>
      <div class="blank"></div>
      <div class="nFlowBox">
        <h2 style="text-align:center; height:30px; line-height:30px;" th:text="#{before.paydone.congratulation}"></h2>
      </div>
  </div>
</body>
</html>
