<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8"/>
  <title th:text="#{error.error.title}"></title>
</head>
<body>
  <div style="margin-top: 250px; text-align: center">
    <h1 style="text-align: center" th:text="#{error.error.exception}"></h1>
    <div style="text-align: center">
      <p th:text="#{error.error.exceptionCode} + ${errorInfo.code}"/>
      <p th:text="#{error.error.exceptionPath} + ${errorInfo.url}"/>
      <p th:text="#{error.error.exceptionInfo} + ${errorInfo.message}"/>
    </div>
  </div>
</body>
</html>